<h1>Contact</h1>
<p>We may be working to bring the snail mail to you more efficiently, but that doesn't mean we don't like the emails.</p>
<p>We LOVE to hear from you guys. Shout out at us and send us some love. You can email us at <%= mail_to "email", "drw.pia@gmail.com" %> anytime! </p>