<div class="jumbotron center">
	<h1>Welcome to Postboxing!</h1>
	<p>Sign up to get your packages delivered to the corner store!<p>
	<p> <%= link_to "Log In", "#", class: "btn btn-warning btn-lg" %>   <%= link_to "Sign Up", "#", class: "btn btn-default btn-lg" %></p>
<div>